<div class="box">
<!-- <ul class="video">
    <dt>全部视频</dt>
    <li></li>
</ul> -->
<ul class="olympic">
    <dt>{{title}}</dt>
    <li>
    {{#itemList}}
    <a href="{{display_url}}" target="_blank">
    <strong class="datetime">{{datetime}}</strong>{{title}}
    </a>
    {{/itemList}}
    </li>
</ul>
</div>